Perform some SQL queries on data using pyspark SQL.

In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

25/03/08 20:12:35 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/03/08 20:12:36 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

Import partitioned data from parquet

In [3]:
parquet_dir = "./data/parquet/*"
oct_yellow_taxi_data = spark.read.parquet(parquet_dir)

In [8]:
oct_yellow_taxi_data.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       2| 2024-10-12 04:16:59|  2024-10-12 04:24:37|              2|         2.07|         1|                 N|         125|         100|           1|       10.7|  1.0|    0.5|       2.0|         0.0|                  1.0|        17.7|                 2.5|        0.0|
|       2| 2024-10-11 23:59:07|  2024-10-12 00:24:29|              1|         6.04|         1|                 N|          79|         238|           1|       29.6|  1.0|    0.5|       3.0|         0.0|                  1.0|        37.6|                 2.5|        0.0|
|       2| 2024-10-10 14:08:03|  2024-10-10 14:26:53|              1|         1.12|         1|                 N|         230|         141|           1|       16.3|  0.0|    0.5|      4.06|         0.0|                  1.0|       24.36|                 2.5|        0.0|
|       2| 2024-10-03 22:22:07|  2024-10-03 22:26:50|              1|         1.51|         1|                 N|         229|         263|           1|        8.6|  1.0|    0.5|      2.72|         0.0|                  1.0|       16.32|                 2.5|        0.0|
|       1| 2024-10-05 23:46:46|  2024-10-06 00:29:08|              2|          8.2|         1|                 N|         148|         188|           1|       42.2|  3.5|    0.5|      11.8|         0.0|                  1.0|        59.0|                 2.5|        0.0|
|       2| 2024-10-15 00:43:57|  2024-10-15 00:45:14|              1|         0.29|         5|                 N|         138|         223|           1|       65.0|  5.0|    0.0|       0.0|         0.0|                  1.0|       72.75|                 0.0|       1.75|
|       2| 2024-10-14 23:42:49|  2024-10-14 23:42:56|              1|         0.01|         2|                 N|          68|          68|           4|       70.0|  0.0|    0.5|       0.0|         0.0|                  1.0|        74.0|                 2.5|        0.0|
|       2| 2024-10-12 22:25:19|  2024-10-12 22:48:40|              4|         3.83|         1|                 N|         237|         114|           1|       22.6|  1.0|    0.5|       5.0|         0.0|                  1.0|        32.6|                 2.5|        0.0|
|       1| 2024-10-12 17:26:36|  2024-10-12 18:35:15|              1|         18.0|         2|                 N|         132|         186|           1|       70.0| 4.25|    0.5|     16.55|        6.94|                  1.0|       99.24|                 2.5|       1.75|
|       1| 2024-10-10 14:09:32|  2024-10-10 14:18:16|              1|          0.9|         1|                 Y|          68|          90|           1|        7.9|  2.5|    0.5|      2.35|         0.0|                  1.0|       14.25|                 2.5|        0.0|
|       2| 2024-10-11 15:58:35|  2024-10-11 16:09:33|              1|         1.49|         1|                 N|         113|          68|           1|       12.1|  0.0|    0.5|       1.5|         0.0|                  1.0|        17.6|                 2.5|        0.0|
|       1| 2024-10-01 11:43:18|  2024-10-01 11:47:40|              1|          0.5|         1|                 N|         142|         239|           1|        5.8|  2.5|    0.5|      1.95|         0.0|                  1.0|       11.75|                 2.5|        0.0|
|       2| 2024-10-05 14:04:12|  2024-10-05 14:31:41|              1|         3.61|         1|                 N|         262|         107|           1|       26.8|  0.0|    0.5|       4.0|         0.0|                  1.0|        34.8|                 2.5|        0.0|
|       1| 2024-10-09 10:14:04|  2024-10-09 10:28:13|              1|          1.7|         1|                 N|         161|         234|           1|       12.8|  2.5|    0.5|      3.35|         0.0|                  1.0|       20.15|                 2.5|        0.0|
|       2| 2024-10-04 17:08:38|  2024-10-04 18:03:10|              1|        17.42|         1|                 N|         132|          17|           1|       75.1|  2.5|    0.5|     19.77|         0.0|                  1.0|      100.62|                 0.0|       1.75|
|       2| 2024-10-07 15:35:26|  2024-10-07 16:07:25|              3|         4.21|         1|                 N|         236|         113|           1|       29.6|  0.0|    0.5|      6.72|         0.0|                  1.0|       40.32|                 2.5|        0.0|
|       1| 2024-10-10 23:54:30|  2024-10-11 00:04:48|              2|          1.1|         1|                 N|         162|          48|           1|       10.7|  3.5|    0.5|       1.0|         0.0|                  1.0|        16.7|                 2.5|        0.0|
|       2| 2024-10-02 07:24:39|  2024-10-02 07:41:08|              1|          2.5|         1|                 N|         234|         143|           1|       17.0|  0.0|    0.5|       4.2|         0.0|                  1.0|        25.2|                 2.5|        0.0|
|       1| 2024-10-08 17:00:53|  2024-10-08 17:38:09|              2|          4.9|         1|                 N|         230|          13|           1|       33.8|  5.0|    0.5|      8.06|         0.0|                  1.0|       48.36|                 2.5|        0.0|
|       1| 2024-10-10 22:52:51|  2024-10-10 22:56:50|              1|          0.7|         1|                 N|         231|         211|           1|        6.5|  3.5|    0.5|       2.3|         0.0|                  1.0|        13.8|                 2.5|        0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 20 rows

Question: How many taxi trips were there on the 15th of October?
Consider only trips that started on the 15th of October.

In [13]:
sql_query = """
SELECT COUNT(*)
FROM oct_yellow_taxi
WHERE tpep_pickup_datetime >= "2024-10-15 00:00" AND tpep_pickup_datetime < "2024-10-16 00:00"
"""

In [14]:
oct_yellow_taxi_data.registerTempTable('oct_yellow_taxi')  # register the df as a SQL table 
spark.sql(sql_query).show()

+--------+
|count(1)|
+--------+
|  128893|
+--------+

sanity check - count total number of taxi rides in oct 2024

In [16]:
sql_query = """
SELECT COUNT(*)
FROM oct_yellow_taxi
"""
spark.sql(sql_query).show()

+--------+
|count(1)|
+--------+
| 3833771|
+--------+

What is the length of the longest trip in the dataset in hours?

In [22]:
# unix_timestamp() returns the seconds from a unix-epoch time (jan 1 1970). 
# Then, subtracting gives us the seconds between pickup and dropoff and just needs conversion from seconds -> hours 

sql_query = """
WITH oct_taxi_total_time AS (
    SELECT (unix_timestamp(tpep_dropoff_datetime) - unix_timestamp(tpep_pickup_datetime)) / 3600  AS total_time_hrs
    FROM oct_yellow_taxi
)
SELECT total_time_hrs 
FROM oct_taxi_total_time
ORDER BY total_time_hrs DESC 
LIMIT 5 
"""
spark.sql(sql_query).show()

+------------------+
|    total_time_hrs|
+------------------+
|162.61777777777777|
|           143.325|
|137.76055555555556|
|114.83472222222223|
| 89.89833333333333|
+------------------+

What is the name of the LEAST frequent pickup location Zone?

In [23]:
data_dir = "./data/taxi_zone_lookup.csv"
!wget https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv -O $data_dir

--2025-03-08 20:36:30--  https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 54.230.209.72, 54.230.209.126, 54.230.209.200, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|54.230.209.72|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12331 (12K) [text/csv]
Saving to: ‘./data/taxi_zone_lookup.csv’

./data/taxi_zone_lo 100%[===================>]  12.04K  --.-KB/s    in 0s

2025-03-08 20:36:31 (162 MB/s) - ‘./data/taxi_zone_lookup.csv’ saved [12331/12331]

In [27]:
# read dataframe and show first few rows
zone_data_df = spark.read \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .csv(data_dir)
zone_data_df.show()

# register the zone data df as a SQL table 
zone_data_df.registerTempTable('zone_data')

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [40]:
sql_query = """
SELECT COUNT(*), zone_data.Zone
FROM oct_yellow_taxi 
JOIN zone_data
ON zone_data.LocationID = oct_yellow_taxi.PULocationID
GROUP BY zone_data.Zone
ORDER BY COUNT(*) ASC
"""

In [41]:
spark.sql(sql_query).show()

+--------+--------------------+
|count(1)|                Zone|
+--------+--------------------+
|       1|Governor's Island...|
|       2|       Arden Heights|
|       2|       Rikers Island|
|       3|         Jamaica Bay|
|       3| Green-Wood Cemetery|
|       4|Charleston/Totten...|
|       4|Eltingville/Annad...|
|       4|   Rossville/Woodrow|
|       4|       Port Richmond|
|       4|       West Brighton|
|       6|        Crotona Park|
|       6|         Great Kills|
|       7|Heartland Village...|
|       7|     Mariners Harbor|
|       9|Saint George/New ...|
|       9|             Oakwood|
|      10|New Dorp/Midland ...|
|      10|       Broad Channel|
|      12|         Westerleigh|
|      12|     Pelham Bay Park|
+--------+--------------------+
only showing top 20 rows