In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("my-de-zoomcamp/1_docker_gcp_terraform/docker/yellow_tripdata_2021-01.csv", nrows=100)

In [14]:
df["tpep_pickup_datetime"] = pd.to_datetime(df.tpep_pickup_datetime)
df["tpep_dropoff_datetime"] = pd.to_datetime(df.tpep_dropoff_datetime)

In [19]:
# connect to postgres to send over schema
from sqlalchemy import create_engine
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")

In [21]:
engine.connect()

In [22]:
# generate a schema in DDL style 
print(pd.io.sql.get_schema(df, name="yellow_taxi_data", con=engine))  # put the schema into the postgres style

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [42]:
# read df 100,000 lines at a time by creating a dataframe iterator
df_iter = pd.read_csv("my-de-zoomcamp/1_docker_gcp_terraform/docker/yellow_tripdata_2021-01.csv", iterator=True, chunksize=100000)

for i, df_chunk in enumerate(df_iter): 
    print(i)
    df_chunk["tpep_pickup_datetime"] = pd.to_datetime(df_chunk.tpep_pickup_datetime)
    df_chunk["tpep_dropoff_datetime"] = pd.to_datetime(df_chunk.tpep_dropoff_datetime)
    df_chunk.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

0
1
2
3
4
5
6
7
8
9
10
11

/tmp/ipykernel_14599/1885614718.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, df_chunk in enumerate(df_iter):

12
13