In [22]:
import pandas as pd
from sqlalchemy import create_engine
import os

taxi_url = "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-10.csv.gz"
zones_url = "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv"
taxi_gz_fpath = os.path.join(os.getcwd(), "green_taxi.csv.gz")
taxi_csv_fpath = os.path.join(os.getcwd(), "green_taxi.csv")
zones_csv = os.path.join(os.getcwd(), "zones.csv")

# download the data to local machine 
os.system(f"wget -O {taxi_gz_fpath} {taxi_url}")
os.system(f"gunzip {taxi_gz_fpath}")
os.system(f"wget -O {zones_csv} {zones_url}")

--2025-01-23 02:51:00--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-10.csv.gz
Resolving github.com (github.com)... 140.82.113.3
Connecting to github.com (github.com)|140.82.113.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/ea580e9e-555c-4bd0-ae73-43051d8e7c0b?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250123%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250123T025100Z&X-Amz-Expires=300&X-Amz-Signature=4666f78dd701a2bcbe91ac500935fff6fdb6e134d454502de7d769707beb4dc7&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream [following]
--2025-01-23 02:51:00--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/ea580e9e-555c-4bd0-ae73-43051d8e7c0b?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250123%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250123T025100Z&X-Amz-Expires=300&X-Amz-Signature=4666f78dd701a2bcbe91ac500935fff6fdb6e134d454502de7d769707beb4dc7&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.111.133, 185.199.110.133, 185.199.109.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 8262584 (7.9M) [application/octet-stream]
Saving to: ‘/home/abbythecat27/my-de-zoomcamp/1_homework/green_taxi.csv.gz’

     0K .......... .......... .......... .......... ..........  0% 4.14M 2s
    50K .......... .......... .......... .......... ..........  1% 4.88M 2s
   100K .......... .......... .......... .......... ..........  1% 29.3M 1s
   150K .......... .......... .......... .......... ..........  2% 22.6M 1s
   200K .......... .......... .......... .......... ..........  3% 7.65M 1s
   250K .......... .......... .......... .......... ..........  3% 31.6M 1s
   300K .......... .......... .......... .......... ..........  4% 29.4M 1s
   350K .......... .......... .......... .......... ..........  4% 39.5M 1s
   400K .......... .......... .......... .......... ..........  5% 93.6M 1s
   450K .......... .......... .......... .......... ..........  6% 58.2M 1s
   500K .......... .......... .......... .......... ..........  6% 8.18M 1s
   550K .......... .......... .......... .......... ..........  7% 85.9M 1s
   600K .......... .......... .......... .......... ..........  8%  135M 1s
   650K .......... .......... .......... .......... ..........  8% 73.3M 0s
   700K .......... .......... .......... .......... ..........  9% 71.4M 0s
   750K .......... .......... .......... .......... ..........  9% 73.7M 0s
   800K .......... .......... .......... .......... .......... 10%  106M 0s
   850K .......... .......... .......... .......... .......... 11%  144M 0s
   900K .......... .......... .......... .......... .......... 11% 70.3M 0s
   950K .......... .......... .......... .......... .......... 12% 99.3M 0s
  1000K .......... .......... .......... .......... .......... 13% 9.81M 0s
  1050K .......... .......... .......... .......... .......... 13% 70.0M 0s
  1100K .......... .......... .......... .......... .......... 14%  129M 0s
  1150K .......... .......... .......... .......... .......... 14%  137M 0s
  1200K .......... .......... .......... .......... .......... 15%  155M 0s
  1250K .......... .......... .......... .......... .......... 16%  123M 0s
  1300K .......... .......... .......... .......... .......... 16%  136M 0s
  1350K .......... .......... .......... .......... .......... 17%  153M 0s
  1400K .......... .......... .......... .......... .......... 17%  146M 0s
  1450K .......... .......... .......... .......... .......... 18% 70.2M 0s
  1500K .......... .......... .......... .......... .......... 19%  157M 0s
  1550K .......... .......... .......... .......... .......... 19%  141M 0s
  1600K .......... .......... .......... .......... .......... 20%  156M 0s
  1650K .......... .......... .......... .......... .......... 21%  180M 0s
  1700K .......... .......... .......... .......... .......... 21%  196M 0s
  1750K .......... .......... .......... .......... .......... 22%  230M 0s
  1800K .......... .......... .......... .......... .......... 22%  225M 0s
  1850K .......... .......... .......... .......... .......... 23%  142M 0s
  1900K .......... .......... .......... .......... .......... 24%  152M 0s
  1950K .......... .......... .......... .......... .......... 24%  165M 0s
  2000K .......... .......... .......... .......... .......... 25%  231M 0s
  2050K .......... .......... .......... .......... .......... 26%  204M 0s
  2100K .......... .......... .......... .......... .......... 26% 12.8M 0s
  2150K .......... .......... .......... .......... .......... 27% 83.9M 0s
  2200K .......... .......... .......... .......... .......... 27%  164M 0s
  2250K .......... .......... .......... .......... .......... 28%  119M 0s
  2300K .......... .......... .......... .......... .......... 29%  149M 0s
  2350K .......... .......... .......... .......... .......... 29%  165M 0s
  2400K .......... .......... .......... .......... .......... 30%  127M 0s
  2450K .......... .......... .......... .......... .......... 30%  153M 0s
  2500K .......... .......... .......... .......... .......... 31%  154M 0s
  2550K .......... .......... .......... .......... .......... 32%  127M 0s
  2600K .......... .......... .......... .......... .......... 32%  147M 0s
  2650K .......... .......... .......... .......... .......... 33%  148M 0s
  2700K .......... .......... .......... .......... .......... 34%  142M 0s
  2750K .......... .......... .......... .......... .......... 34%  120M 0s
  2800K .......... .......... .......... .......... .......... 35% 68.8M 0s
  2850K .......... .......... .......... .......... .......... 35%  150M 0s
  2900K .......... .......... .......... .......... .......... 36%  146M 0s
  2950K .......... .......... .......... .......... .......... 37% 87.0M 0s
  3000K .......... .......... .......... .......... .......... 37%  163M 0s
  3050K .......... .......... .......... .......... .......... 38%  145M 0s
  3100K .......... .......... .......... .......... .......... 39%  152M 0s
  3150K .......... .......... .......... .......... .......... 39%  135M 0s
  3200K .......... .......... .......... .......... .......... 40%  146M 0s
  3250K .......... .......... .......... .......... .......... 40%  149M 0s
  3300K .......... .......... .......... .......... .......... 41%  148M 0s
  3350K .......... .......... .......... .......... .......... 42%  133M 0s
  3400K .......... .......... .......... .......... .......... 42%  148M 0s
  3450K .......... .......... .......... .......... .......... 43%  157M 0s
  3500K .......... .......... .......... .......... .......... 43%  151M 0s
  3550K .......... .......... .......... .......... .......... 44%  118M 0s
  3600K .......... .......... .......... .......... .......... 45% 69.3M 0s
  3650K .......... .......... .......... .......... .......... 45%  142M 0s
  3700K .......... .......... .......... .......... .......... 46%  132M 0s
  3750K .......... .......... .......... .......... .......... 47%  130M 0s
  3800K .......... .......... .......... .......... .......... 47%  135M 0s
  3850K .......... .......... .......... .......... .......... 48%  116M 0s
  3900K .......... .......... .......... .......... .......... 48%  128M 0s
  3950K .......... .......... .......... .......... .......... 49%  122M 0s
  4000K .......... .......... .......... .......... .......... 50%  200M 0s
  4050K .......... .......... .......... .......... .......... 50%  149M 0s
  4100K .......... .......... .......... .......... .......... 51%  185M 0s
  4150K .......... .......... .......... .......... .......... 52%  177M 0s
  4200K .......... .......... .......... .......... .......... 52%  236M 0s
  4250K .......... .......... .......... .......... .......... 53% 92.7M 0s
  4300K .......... .......... .......... .......... .......... 53%  104M 0s
  4350K .......... .......... .......... .......... .......... 54%  116M 0s
  4400K .......... .......... .......... .......... .......... 55% 87.1M 0s
  4450K .......... .......... .......... .......... .......... 55%  167M 0s
  4500K .......... .......... .......... .......... .......... 56%  229M 0s
  4550K .......... .......... .......... .......... .......... 57%  154M 0s
  4600K .......... .......... .......... .......... .......... 57%  240M 0s
  4650K .......... .......... .......... .......... .......... 58%  241M 0s
  4700K .......... .......... .......... .......... .......... 58%  212M 0s
  4750K .......... .......... .......... .......... .......... 59%  166M 0s
  4800K .......... .......... .......... .......... .......... 60%  239M 0s
  4850K .......... .......... .......... .......... .......... 60%  239M 0s
  4900K .......... .......... .......... .......... .......... 61%  241M 0s
  4950K .......... .......... .......... .......... .......... 61%  202M 0s
  5000K .......... .......... .......... .......... .......... 62%  235M 0s
  5050K .......... .......... .......... .......... .......... 63%  150M 0s
  5100K .......... .......... .......... .......... .......... 63%  154M 0s
  5150K .......... .......... .......... .......... .......... 64%  126M 0s
  5200K .......... .......... .......... .......... .......... 65%  112M 0s
  5250K .......... .......... .......... .......... .......... 65%  242M 0s
  5300K .......... .......... .......... .......... .......... 66%  203M 0s
  5350K .......... .......... .......... .......... .......... 66%  112M 0s
  5400K .......... .......... .......... .......... .......... 67%  219M 0s
  5450K .......... .......... .......... .......... .......... 68%  191M 0s
  5500K .......... .......... .......... .......... .......... 68%  241M 0s
  5550K .......... .......... .......... .......... .......... 69%  185M 0s
  5600K .......... .......... .......... .......... .......... 70%  207M 0s
  5650K .......... .......... .......... .......... .......... 70%  223M 0s
  5700K .......... .......... .......... .......... .......... 71%  135M 0s
  5750K .......... .......... .......... .......... .......... 71%  119M 0s
  5800K .......... .......... .......... .......... .......... 72%  163M 0s
  5850K .......... .......... .......... .......... .......... 73%  115M 0s
  5900K .......... .......... .......... .......... .......... 73%  168M 0s
  5950K .......... .......... .......... .......... .......... 74%  103M 0s
  6000K .......... .......... .......... .......... .......... 74%  138M 0s
  6050K .......... .......... .......... .......... .......... 75%  159M 0s
  6100K .......... .......... .......... .......... .......... 76%  157M 0s
  6150K .......... .......... .......... .......... .......... 76%  140M 0s
  6200K .......... .......... .......... .......... .......... 77%  181M 0s
  6250K .......... .......... .......... .......... .......... 78%  176M 0s
  6300K .......... .......... .......... .......... .......... 78%  162M 0s
  6350K .......... .......... .......... .......... .......... 79%  134M 0s
  6400K .......... .......... .......... .......... .......... 79%  162M 0s
  6450K .......... .......... .......... .......... .......... 80%  161M 0s
  6500K .......... .......... .......... .......... .......... 81%  163M 0s
  6550K .......... .......... .......... .......... .......... 81%  144M 0s
  6600K .......... .......... .......... .......... .......... 82%  158M 0s
  6650K .......... .......... .......... .......... .......... 83%  166M 0s
  6700K .......... .......... .......... .......... .......... 83%  175M 0s
  6750K .......... .......... .......... .......... .......... 84%  150M 0s
  6800K .......... .......... .......... .......... .......... 84%  174M 0s
  6850K .......... .......... .......... .......... .......... 85%  181M 0s
  6900K .......... .......... .......... .......... .......... 86%  180M 0s
  6950K .......... .......... .......... .......... .......... 86%  122M 0s
  7000K .......... .......... .......... .......... .......... 87%  173M 0s
  7050K .......... .......... .......... .......... .......... 87%  178M 0s
  7100K .......... .......... .......... .......... .......... 88%  182M 0s
  7150K .......... .......... .......... .......... .......... 89%  147M 0s
  7200K .......... .......... .......... .......... .......... 89%  179M 0s
  7250K .......... .......... .......... .......... .......... 90%  183M 0s
  7300K .......... .......... .......... .......... .......... 91%  177M 0s
  7350K .......... .......... .......... .......... .......... 91%  162M 0s
  7400K .......... .......... .......... .......... .......... 92%  180M 0s
  7450K .......... .......... .......... .......... .......... 92%  185M 0s
  7500K .......... .......... .......... .......... .......... 93%  177M 0s
  7550K .......... .......... .......... .......... .......... 94%  153M 0s
  7600K .......... .......... .......... .......... .......... 94%  180M 0s
  7650K .......... .......... .......... .......... .......... 95%  156M 0s
  7700K .......... .......... .......... .......... .......... 96%  166M 0s
  7750K .......... .......... .......... .......... .......... 96%  143M 0s
  7800K .......... .......... .......... .......... .......... 97%  162M 0s
  7850K .......... .......... .......... .......... .......... 97%  158M 0s
  7900K .......... .......... .......... .......... .......... 98%  168M 0s
  7950K .......... .......... .......... .......... .......... 99%  135M 0s
  8000K .......... .......... .......... .......... .......... 99%  156M 0s
  8050K .......... ........                                   100%  190M=0.1s

2025-01-23 02:51:01 (76.2 MB/s) - ‘/home/abbythecat27/my-de-zoomcamp/1_homework/green_taxi.csv.gz’ saved [8262584/8262584]

gzip: /home/abbythecat27/my-de-zoomcamp/1_homework/green_taxi.csv already exists;	not overwritten
--2025-01-23 02:51:01--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
Resolving github.com (github.com)... 140.82.113.3
Connecting to github.com (github.com)|140.82.113.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250123%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250123T025101Z&X-Amz-Expires=300&X-Amz-Signature=b122b6c1a2696243fb3fa57459ea68e2b7212afaa21288787eec23627d3b1f98&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream [following]
--2025-01-23 02:51:01--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250123%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250123T025101Z&X-Amz-Expires=300&X-Amz-Signature=b122b6c1a2696243fb3fa57459ea68e2b7212afaa21288787eec23627d3b1f98&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.111.133, 185.199.110.133, 185.199.109.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘/home/abbythecat27/my-de-zoomcamp/1_homework/zones.csv’

     0K .......... ..                                         100% 39.3M=0s

2025-01-23 02:51:01 (39.3 MB/s) - ‘/home/abbythecat27/my-de-zoomcamp/1_homework/zones.csv’ saved [12322/12322]

In [45]:
# exploratory
taxi_df = pd.read_csv(taxi_csv_fpath, nrows=100)
zones_df = pd.read_csv(zones_csv)  # 265 rows
taxi_df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1,112,196,1,5.88,18.0,0.50,0.5,0.00,0.0,NaN,0.3,19.30,2,1,0.0
1,1,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1,43,263,1,0.80,5.0,3.25,0.5,0.00,0.0,NaN,0.3,9.05,2,1,0.0
2,1,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1,255,228,2,7.50,21.5,0.50,0.5,0.00,0.0,NaN,0.3,22.80,2,1,0.0
3,1,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1,181,181,1,0.90,5.5,0.50,0.5,0.00,0.0,NaN,0.3,6.80,2,1,0.0
4,2,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1,97,188,1,2.52,10.0,0.50,0.5,2.26,0.0,NaN,0.3,13.56,1,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2019-10-01 00:02:53,2019-10-01 00:14:32,N,1,126,74,1,3.10,12.0,0.50,0.5,0.00,0.0,NaN,0.3,13.30,1,1,0.0
96,2,2019-10-01 00:18:45,2019-10-01 00:29:23,N,1,42,74,1,1.64,9.5,0.50,0.5,0.00,0.0,NaN,0.3,10.80,2,1,0.0
97,2,2019-10-01 00:41:32,2019-10-01 00:52:51,N,1,75,42,1,3.17,11.5,0.50,0.5,1.50,0.0,NaN,0.3,14.30,1,1,0.0
98,2,2019-10-01 00:36:54,2019-10-01 00:54:20,N,1,92,179,1,5.48,19.5,0.50,0.5,0.00,0.0,NaN,0.3,20.80,2,1,0.0
99,2,2019-10-01 00:21:27,2019-10-01 00:26:59,N,1,129,129,1,1.02,6.0,0.50,0.5,0.00,0.0,NaN,0.3,7.30,2,1,0.0

In [40]:
# create an engine to connect to postgres 
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")
engine.connect()

In [31]:
# ingest data 
print("importing zone data")
output = zones_df.to_sql(name="zone_data", con=engine, if_exists='replace')
print(f"{output}(ish) rows from zone data imported")

importing zone data
265 rows from zone data imported

In [47]:
print(pd.io.sql.get_schema(frame=zones_df, name="ny_taxi", con=engine))
print(pd.io.sql.get_schema(frame=taxi_df, name="ny_taxi", con=engine))

CREATE TABLE ny_taxi (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)



CREATE TABLE ny_taxi (
	"VendorID" BIGINT,
	lpep_pickup_datetime TEXT,
	lpep_dropoff_datetime TEXT,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [51]:
# split data into chunks of 100,000 and create an iterator 
taxi_iter = pd.read_csv(taxi_csv_fpath, iterator=True, chunksize=100000)

# iterate over data chunks and upload each to the postgres database via engine
for i, df_chunk in enumerate(taxi_iter):
    print(f"Importing chunk {i} in green taxi data...")
    df_chunk["lpep_pickup_datetime"] = pd.to_datetime(df_chunk.lpep_pickup_datetime)
    df_chunk["lpep_dropoff_datetime"] = pd.to_datetime(df_chunk.lpep_dropoff_datetime)
    output = df_chunk.to_sql(name='green_taxi_data', con=engine, if_exists='append')
    print(f"...{output}(ish) rows from taxi data imported")  # output from df.to_sql is not guaranteed to be actual # rows written

Importing chunk 0 in green taxi data...
...1000 rows from taxi data imported
Importing chunk 1 in green taxi data...
...1000 rows from taxi data imported
Importing chunk 2 in green taxi data...
...1000 rows from taxi data imported

/tmp/ipykernel_1862/1496387195.py:5: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, df_chunk in enumerate(taxi_iter):

Importing chunk 3 in green taxi data...
...1000 rows from taxi data imported
Importing chunk 4 in green taxi data...
...386 rows from taxi data imported

In [52]:
print("done")

done